<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.viatra.modelobfuscator.ui.obfuscateModel"
            name="Obfuscate model loaded into Editor">
      </command>
  </extension>
  <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.modelobfuscator.ui.handlers.EMFModelObfuscatorHandler"
            commandId="org.eclipse.viatra.modelobfuscator.ui.obfuscateModel">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.viatra.modelobfuscator.ui.obfuscateModel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.emf.ecore.presentation.XMLReflectiveEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.viatra.modelobfuscator.ui.obfuscateModel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.emf.ecore.presentation.ReflectiveEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.viatra.modelobfuscator.ui.obfuscateModel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.emf.genericEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.viatra.modelobfuscator.ui.notifierdef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.eclipse.emf.common.notify.Notifier">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
</plugin>
