<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.viatra.modelobfuscator.ui.obfuscateUMLModel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activePartId">
                     <or>
                        <equals
                              value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                        </equals>
                        <equals
                              value="org.eclipse.papyrus.infra.core.papyrusEditor">
                        </equals>
                     </or>
                  </with>
                  <or>
                     <reference
                           definitionId="org.eclipse.viatra.modelobfuscator.ui.notifierdef">
                     </reference>
                     <reference
                           definitionId="org.eclipse.viatra.modelobfuscator.ui.papyruselementdef">
                     </reference>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.viatra.modelobfuscator.ui.replaceObfuscatedProfile"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activePartId">
                     <or>
                        <equals
                              value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                        </equals>
                        <equals
                              value="org.eclipse.papyrus.infra.core.papyrusEditor">
                        </equals>
                     </or>
                  </with>
                  <or>
                     <reference
                           definitionId="org.eclipse.viatra.modelobfuscator.ui.notifierdef">
                     </reference>
                     <reference
                           definitionId="org.eclipse.viatra.modelobfuscator.ui.papyruselementdef">
                     </reference>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.viatra.modelobfuscator.ui.obfuscateUMLModel"
            name="Obfuscate this model/profile">
      </command>
      <command
            id="org.eclipse.viatra.modelobfuscator.ui.replaceObfuscatedProfile"
            name="Change profile to the obfuscated pair of it">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.modelobfuscator.ui.uml.handlers.UMLModelObfuscatorHandler"
            commandId="org.eclipse.viatra.modelobfuscator.ui.obfuscateUMLModel">
      </handler>
      <handler
            class="org.eclipse.viatra.modelobfuscator.ui.uml.handlers.UMLProfileReplacerHandler"
            commandId="org.eclipse.viatra.modelobfuscator.ui.replaceObfuscatedProfile">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.viatra.modelobfuscator.ui.papyruselementdef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.papyrus.infra.gmfdiag.common.editpart.PapyrusDiagramEditPart">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
