/.SimpleUMLProfileObfuscator.java._trace
/.SimpleUMLProfileObfuscator.xtendbin
/.UMLProfileObfuscatorBuilder.java._trace
/.UMLProfileObfuscatorBuilder.xtendbin
/SimpleUMLProfileObfuscator.java
/UMLProfileObfuscatorBuilder.java
/.SimpleUMLProfileMatcher.java._trace
/.UMLProfileMatcherBuilder.java._trace
